<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName = "USBPcap" ?>
  <?define ProductVersion = "1.2.0"?>
  <?define ProductId = "72D32C72-A964-4DB2-9335-D758764AF8B1"?>
  <?define ProductUpgradeCode = "EBF1A3FB-1BB4-47C6-B468-4917062B5294"?>
  <?if $(var.Platform) = x64 ?>
  <?define ProductDisplayName = "$(var.ProductName) 64-bit" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define USBPcapCatSuffix = "amd64" ?>
  <?define USBPcapCMDSuffix = "_x64" ?>
  <?else ?>
  <?define ProductDisplayName = "$(var.ProductName)" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define USBPcapCatSuffix = "x86" ?>
  <?define USBPcapCMDSuffix = "_x86" ?>
  <?endif ?>
  <?define EulaPath="gpl-2.0.rtf"?>

  <Product Id="$(var.ProductId)" Name="$(var.ProductDisplayName) (v$(var.ProductVersion))" Language="1033" Version="$(var.ProductVersion)" Manufacturer="USBPcap Developers" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Property Id="ARPHELPLINK" Value="http://desowin.org/usbpcap" />
    <Property Id="ARPURLINFOABOUT" Value="http://desowin.org/usbpcap" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <!-- For backwards compatibility with original NSIS installer -->
    <Property Id="USBPCAP_NSIS">
      <RegistrySearch Id="USBPcap_NSIS_RegKey" Type="raw" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\USBPcap" Name="UninstallString" />
    </Property>
    <Condition Message="Previous version of USBPcap is installed. Please uninstall it.">NOT USBPCAP_NSIS</Condition>

    <!-- Windows version check -->
    <Condition Message="Unsupported Windows version. Only XP, Vista, 7 and 8 are supported.">NOT VersionNT &lt; 501</Condition>

    <?if $(var.Platform) != x64 ?>
    <Condition Message="This installer can be run only on 32-bit Windows.">%PROCESSOR_ARCHITECTURE ~= "x86" AND %PROCESSOR_ARCHITEW6432 &lt;&gt; "amd64"</Condition>
    <?endif ?>

    <!-- Handle version checking of USBPcap -->
    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="1.1.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

    <!-- Include the installer UI definition -->
    <UIRef Id="UI.USBPcap"/>

    <!-- Include the top-most parent feature -->
    <FeatureRef Id="Fe.USBPcapDriver" />
  </Product>

  <?include DirectoryStructure.wxi ?>
  <?include InputPaths.wxi ?>
  <?include ComponentGroups.wxi ?>
  <?include Features.wxi ?>
  <?include UserInterface.wxi ?>

</Wix>