#include "Windows.h"

1                  VERSIONINFO
FILEVERSION        1,2,0,3
PRODUCTVERSION     1,2,0,3
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VS_FF_DEBUG)
FILEOS             VOS__WINDOWS32
FILETYPE           VFT_APP
FILESUBTYPE        VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "USBPcap"
            VALUE "FileDescription",  "USBPcap Driver"
            VALUE "FileVersion",      "1.2.0.3"
            VALUE "InternalName",     "USBPcap"
            VALUE "LegalCopyright",   "(c) 2013-2017 Tomasz Mon"
            VALUE "OriginalFilename", "USBPcap"
            VALUE "ProductName",      "USBPcap Sniffer Driver"
            VALUE "ProductVersion",   "1.2.0.3"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
