<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="USBPcap open source USB sniffer for Windows." />
<meta name="keywords" content="USBPcap, opensource, windows, usb, sniffer" />
<title>USBPcap</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<!-- Add jQuery library -->
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="js/jquery.fancybox.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="js/jquery.fancybox.css?v=2.1.4" media="screen" />
<script type="text/javascript">
$(document).ready(function() {
$(".fancybox").fancybox({
        openEffect	: 'none',
        closeEffect	: 'none'
});
})
</script>
<style type="text/css">
        .fancybox-custom .fancybox-skin {
                box-shadow: 0 0 50px #222;
        }
</style>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6085094-1");
pageTracker._trackPageview();
</script>

<body>

<div id="container">

<div id="header"><h1>Open Source USB Packet capture for Windows</h1></div>

<div id="sub_header">... works on Windows 7, 8 and 10</div>

<div id="main_content_top"></div>

<div id="main_content">

<div class="content">
{{ content }}
</div>


<div class="menu">

<div class="menu_title">USBPcap</div>
<ul>
<li><a href="index.html" class="menu_link">Main page</a></li>
<li><a href="tour.html" class="menu_link">Illustrated Tour</a></li>
<li><a href="videos.html" class="menu_link">Videos</a></li>
<li><a href="captureformat.html" class="menu_link">Capture format</a></li>
<li><a href="capture_limitations.html" class="menu_link">Capture limitations</a></li>
<li><a href="donors.html" class="menu_link">Donors</a></li>
</ul>

<div class="menu_title">Develop</div>
<ul>
<li><a href="develop.html" class="menu_link">Develop</a></li>
<li><a href="block_diagram.html" class="menu_link">Block diagram</a></li>
<li><a href="capture_buffer.html" class="menu_link">Capture buffer</a></li>
<li><a href="dissectors.html" class="menu_link">Wireshark dissectors</a></li>
<li><a href="todo.html" class="menu_link">USBPcap TODO</a></li>
</ul>

<div class="menu_title">Links</div>
<ul>
<li><a href="https://github.com/desowin/usbpcap" class="menu_link">GitHub project page</a></li>
<li><a href="https://github.com/desowin/usbpcap/issues?state=open" class="menu_link">Report issue</a></li>
<li><a href="https://github.com/desowin/usbpcap/commits/master/" class="menu_link">Changelog</a></li>
<li><a href="https://github.com/desowin/usbpcap/wiki/" class="menu_link">Wiki</a></li>
</ul>


<a href="https://twitter.com/USBPcap" class="twitter-follow-button" data-show-count="false">Follow @USBPcap</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script type='text/javascript' src='https://www.openhub.net/p/usbpcap/widgets/project_thin_badge?format=js'></script>

<table style="background-color: #fff; padding: 1px;" cellspacing=0>
<tr><td align=right>
  <a href="https://groups.google.com/group/usbpcap">Visit USBPcap group</a>
</td></tr>
</table>
</div>

<div id="clear"></div>

</div>

<div id="main_content_bottom">
</div>

<div id="footer"><a href="#">Back to top</a> | <a href="https://desowin.org">my homepage</a></div>

</div>

</body>

</html>
